<IfModule mod_rewrite.c>

  Options -MultiViews
  RewriteEngine On
  RewriteCond %{SERVER_PORT} 80
  RewriteCond %{HTTP_HOST} ^(www\.)?mynftmarketplace\.io
  RewriteRule ^(.*)$ https://mynftmarketplace.io/$1 [R,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.html [QSA,L]

</IfModule>